

body
{
	margin:0;
	background-color:#869356;
}
body{margin-top:10px;margin-bottom:10px;background-color:#fff;text-align:center;background-image:url(images/background.gif);}

select
	{
	border: 1px solid #000000;
	font-size:7pt;
	font-weight:bold;
	font-family:verdana,arial, times new roman;
	}


input.nor
	{
	border:none;
	text-align:right;
	font-size:8pt;
	font-weight:normal;
	font-family:verdana,arial, times new roman;
	}

input.text
	{
	font-family:verdana,arial, times new roman;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	font-size:10px;
	font-weight:normal;
	}

input.submit
	{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	}

input.chk
	{
	border:none;
	}

input.rad
	{
	border:none;
	}

textarea
	{
	border: 1px solid #000000;
	color : #505154;
	font-family :  Arial, tahoma, Verdana, Geneva, Helvetica, sans-serif;
	font-size :11px;
	padding-left:5px;
	}
	
select
	{
	border: 1px solid #000000;
	color : #505154;
	font-family :  Arial, tahoma, Verdana, Geneva, Helvetica, sans-serif;
	font-size :11px;
	padding-left:5px;
	}
	
input
	{
	border: 1px solid #000000;
	color : #505154;
	font-family :  Arial, tahoma, Verdana, Geneva, Helvetica, sans-serif;
	font-size :11px;
	padding-left:5px;
	}


form
	{
	display:inline;
	}

a
	{
	color :White;
	text-decoration : none; 
	font-weight : bold;
	}

a:hover
	{
	color : #fff;
	text-decoration : none; 
	font-weight : bold;
	}
	

	
	
.hd
	{
	color :#339900;
	font-family : Verdana, Arial, tahoma,Geneva, Helvetica, sans-serif;
	font-size :18px;
	font-weight:bold;	
	text-transform:uppercase;
	}
	
.NewsBor
	{
	border: 1px solid #39393B;
	padding: 7px 12px;
	}
	
.NewsHD
	{
	color : #fff;
	font-size :12px;
	line-height:15px;
	font-weight:bold;
	}
	
.NewsTxT
	{
	color : #fff;
	font-size :10px;
	line-height:13px;
	}
	
.NewsDate
	{
	color : #6F6F6F;
	font-size :10px;
	line-height:22px;
	}
	
.parts
	{
	color : #fff;
	text-decoration : none; 
	font-weight : bold;
	}

.parts:hover
	{
	color : #FF913A;
	text-decoration : none; 
	font-weight : bold;
	}
	
.PartsDotBG
	{
	background-image:url(../images/dot.gif);
	background-repeat:repeat-y;
	background-position:center;
	}

.FooterBG
	{
	background-image:url(../images/index_20.jpg);
	background-repeat:no-repeat;
	}
	
.copy
	{
		font-size:small;
	color : #006600;	
	}
	
.copy a
	{
	color : #fff;
	font-weight:bold;
	text-decoration:none;
	}
	
.copy a:hover
	{
	color : #fff;
	font-weight:bold;
	text-decoration:none;
	}	
	
.border1
	{
	border: 1px solid #006600;
	}
	
	
	
	
.TableFormat 
{
	background-color:#336600;
}
.TableFormat td
{
	background-color:#ffffff;
	font-size:14px;
	height:22px;
	color:#006600;
}
.TableFormat th
{
	background-color:#ffffff;
	height:25px;
	color:#006600;
	font-size:14px;
}




.padding20
{
	padding:8px;
}

.product-display
{
	padding:12px 20px;
	background: #ffffff;
}

.product-details
{
	padding:12px 20px;
	background-color:#99cc00;
	color:#006600;
}


h3
{
	margin:0px;
	padding:0px;
	font-size:14px;
	font-family:Calibri, verdana;
	letter-spacing:0.1em;
	color:#FF5900;
}

#left_nav
{
margin: 0px 0px 10px 10px;
padding:0px;
width:219px;
}

#left_nav li
{  
list-style-type: none;
height:auto;
 background-color:#99cc00;
padding:5px 0px 5px 0px;
}

#left_nav li a
{
display: block;
color:#006600;
font-weight:bold;
font-size:15px;
border-bottom: solid 1px #006600;
padding:0px 0px 5px 0px;
}

#left_nav li a:hover
{
color:#006600;
}

#left_nav #left_nav_inner
{
clear:both;
margin-left: 40px;
padding:0px;
width:175px;
}

#left_nav #left_nav_inner li a
{
display: block;
color:#006600;
font-weight:bold;
font-size:13px;
}

#left_nav #left_nav_inner li a:hover
{
color:#006600;
}

#shop
{
padding:10px 0px 5px 10px;
	
}

#shop a
{
color:White;
font-weight:bold;
margin-right:5px;
}

.arrow
{
 
margin:3px 10px 0px 15px;
}

#top_search td
{
font-weight:bold;
color:#f9d895;
font-size:11px;
text-transform: uppercase;
}

#top_search input.txt
{
color:#ffffff;
background: #333333;
border:1px solid #000000;
width:105px;
}

a.enlarge
	{
	color : #FF913A;
	text-decoration : none; 
	font-weight : bold;
	}

a.enlarge:hover
	{
	color : #000000;
	text-decoration : none; 
	font-weight : bold;
	}
	
a.more
	{
	color : #FF913A;
	text-decoration : none; 
	font-weight : bold;
	}

a.more:hover
	{
	color : #000000;
	text-decoration : none; 
	font-weight : bold;
	}
	
.left_panel
{
border-right:solid 1px #363636;
}
.fore
{
	color:#006600;
	
}
.btnclass
{
	background-color:#336600;
	 color:White;
	 height:21px;
	 font-weight:bold;
	
}
.btnclass:hover
{
	padding:4px 6px;
	background-color:#cccc00;
	border:solid 1px #336600;
	
	text-decoration:none;
	color:White;
}

.productname
{
	color:#ff5b00;
	font-size:14px;
}
.productname:hover
{
	color:Black;
}
.GridHeader
{
	color:White;
	background-color:#336600;
}
.GridPName
{
	font-weight:bold;
	color:#336600;
}
.textbox
{
	background-color:#339900;
	
	 color:White;
}

.ProductHD
{
	font-size: 14px;
	font-family :  tahoma, verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	line-height:19px;
	color : #336600;
	text-transform:uppercase;
}

.ProductHD1
{
	font-size: 11px;
	font-family :  tahoma, verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	line-height:19px;
	color : #336600;
	
}
.DesignedBy1
{
	color:#336600;
	
}
.DesignedBy1:hover
{
		color:#336600;
}
.forgotpass
{
	color:#ff5b00;
	font-size:12px;
}
.forgotpass:hover
{
	color:Black;
}
p
{
	font-size:13px;
}
.RedStar
{
	color:Red;
}

/*-----------------------------------text-----------------------------------*/
.heading{
font-family:Arial, Helvetica, sans-serif;
color:#0000FF;
font-size:14px;
font-weight:bold;
}